.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #3b82f6;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo p {
  font-size: 12px;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.primary-btn {
  background: white;
  color: #3b82f6;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
